:root{
    --main-bg-color: #E0E0E0;
    --body-bg-color: #0a0c19;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    /*background-image: url(imgs/black-1072366_1920.jpg);*/
    background-color: var(--body-bg-color);
}

.container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

main {
    max-width: 1200px;
    background-color: var(--main-bg-color);

    -webkit-box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

h1 {
    margin-top: 30px;
    color: white;
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;
    grid-row: 1;
}
.logo {
    padding: 20px;
    filter: invert(100%);
    cursor: pointer;
    grid-column: 1;
    grid-row: 1;

}
.some {
    /*float: right;*/
    grid-column: 3;
    justify-self: end;
    align-self: center;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 5px solid var(--body-bg-color);
    -webkit-box-shadow: 0px 3px 19px 6px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 3px 19px 6px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 3px 19px 6px rgba(0, 0, 0, 0.81);
    z-index: 10;
}
#navbar {
    grid-column: 1 / 4;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
li {
    list-style: none;
    margin: 0 2vw;
    cursor: pointer;
    letter-spacing: 1px;

}

.menu_selected,
.menu_other {
    text-align: center;
    padding: 16px;
}
.menu_selected {
    font-weight: bold;
    background-color: var(--body-bg-color);
    color: white;
    text-shadow: 1px 1px 1px black;
}
.menu_other:hover {
    text-shadow: 1px 1px 1px grey;
}

.bg {
    -webkit-box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 11px 11px 2px rgba(0, 0, 0, 0.81);

    background-image: url(imgs/vishwas-katti-UrQ_BS9bLXQ-unsplash.jpg);
    height: 750px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}
.submenu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

a {
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    height: 40px;
    padding: 10px;
    border: 5px solid white;
    text-align: center;
    background-color: #0a0c19A5;
    transition: .3s linear;
}
a:hover {
    text-decoration: underline;
    background-color: var(--body-bg-color);
}

section {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 30px;
}
h2 {
    background-color: var(--body-bg-color);
    color: white;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 900;
    grid-column: 1 / -1;
    /*text-align: center;*/

}

.title {
    height: 30px;
    text-align: center;
}
.course {
    display: flex;
    flex-flow: column;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.75);
    padding: 15px;
}
.short_description {
    grid-row: 2;
    text-align: center;
    height: 30px;
}

.btn {
    align-self: center;
    background-color: transparent;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    background-color: var(--body-bg-color);
    color: white;
    font-weight: 900;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);
    -moz-box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);
    box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);


}
.btn:hover {
    background-color: #0a0c19A5;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    width: 60%;
    background-color: #E0E0E0;
    border: 1px solid #7c1f17;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.modal-name {
    grid-row: 1;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0px 0px 6px rgba(150, 150, 150, 1);
}
.modal-sdescription {
    grid-row: 2;
    text-align: center;
    font-size: 20px;
}
.modal-ldescription {
    grid-row: 3;
    text-align: justify;
}
.modal-image {
    grid-row: 1 / 7;
    grid-column: 2;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);
    -moz-box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);
    box-shadow: 0px 4px 5px -2px rgba(10, 12, 25, 1);

}
.modal-price {
    font-weight: bold;
    font-size: 19px;
    border: 2px solid black;
    padding: 3px;
    margin: 0px;
    width: auto;
    text-align: center;
}
.modal-discount {
    display: none;
    color: green;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}
.modal-new_price {
    display: none;
    color: green;
    font-size: 25px;
    font-weight: bold;
    grid-column: 1;
    margin: 0;
    margin-top: 5px;
}
.modal-soldout {
    display: none;
    grid-column: 1;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.modal-icons {
    grid-column: 2;
    grid-row: 7;
    justify-self: center;
    margin-top: 10px;
}

.close {
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;


}
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
}

#long_description {
    display: none;
    z-index: 9;
    text-align: justify;
    grid-column: 2;
    grid-row: 1;
}

.price {
    font-weight: bold;
    font-size: 19px;
    align-self: center;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
    margin: 0px;
    margin-bottom: 20px;
    height: 20px;
}

.soldout {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 20px;
    display: none;
    /*color: red;*/
    margin: 10px;
}
.soldout_course {
    filter: grayscale(100%);
}

.course_img{
    max-height: 270px;
    object-fit: contain;
}

.discount,
.new_price {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: green;
    display: none;
    font-size: 25px;
    margin: 10px;
}

.icons {
    /*margin-left: 45px;*/
    align-self: center;
    height: 30px;
}

img {
    order: -1;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 2px black;
    z-index: 99;

    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    color: var(--body-bg-color);
    cursor: pointer;
    font-size: 18px;
    margin: 30px 0px;
    display: none;
    font-weight: 900;
}

@media only screen and (max-width: 850px) {
    nav {
        width: 100%;
        height: 50px;
        display: flex;
    }

    h1{
        font-size: 6vw;
    }

    ul {
        display: flex;
        font-size: 14px;
    }

    li {

    }

    .menu_selected{
        padding: 17px;
    }

    .submenu {
        display: flex;
        flex-direction: column;
    }

    .close{
        display: none;
    }

    .modal-content {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .modal-name {
        grid-row: 1;
    }

    .modal-sdescription {
        grid-row: 2;
        text-align: center;
        font-size: 20px;
    }

    .modal-image {
        grid-row: 3;
        grid-column: 1;
    }

    .modal-soldout {
        grid-row: 4;
    }

    .modal-ldescription {
        grid-row: 5;
    }

    .modal-price {
        grid-row: 6;
    }

    .modal-discount {
        grid-row: 7
    }

    .modal-new_price {
        grid-row: 8
    }

    .modal-icons {
        grid-column: 1;
        grid-row: 9;
        margin-top: 20px;
    }
}
